.star-rating {
    display: flex; /* 플렉스 박스 사용 */
    align-items: center; /* 수직 정렬 */
}

.star {
    color: gold; /* 별 색상 */
    font-size: 20px; /* 별 크기 조정 */
    margin: 0; /* 마진 제거 */
    padding: 0; /* 패딩 제거 */
}

.empty {
    color: lightgray; /* 비어있는 별 색상 */
}

.half-star {
    position: relative;
    overflow: hidden; /* 넘치는 부분 숨기기 */
}

.half-star::before {
    content: '★'; /* 채워진 별 */
    color: gold; /* 채워진 별 색상 */
    position: absolute; /* 절대 위치 지정 */
    /*left: 0; !* 왼쪽 정렬 *!*/
    /*top: 0; !* 위쪽 정렬 *!*/
    width: 50%; /* 반만 보이게 설정 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
}
