.reply-container {
    border: 1px solid #ddd; /* 테두리 색상 및 두께 */
    border-radius: 10px; /* 모서리 둥글게 (더 둥글게 변경) */
    padding: 15px; /* 안쪽 여백 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* 그림자 효과 (조금 더 짙게 변경) */
    margin: 10px 0; /* 위아래 여백 */
}


.reply-title {
    font-weight: bold; /* 굵게 */
    color: #333; /* 텍스트 색상 */
    margin: 10px 0; /* 위아래 여백 */
    padding: 5px; /* 안쪽 여백 */
    text-align: left; /* 왼쪽 정렬 */
}

.no-reply {
    font-weight: bold; /* 굵게 */
    color: #656565; /* 텍스트 색상 */
    text-align: center; /* 중앙 정렬 */
}

.reply-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px; /* 입력 필드 간의 간격 */
    width: 90%; /* 최대 너비 설정 */
    margin: 20px; /* 여백 추가 */
}

.reply-form input,
.reply-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem; /* Tailwind의 rounded-lg와 유사 */
    font-size: 16px;
}

.reply-form button {
    background-color: #3b82f6; /* bg-blue-500 */
    color: white; /* text-white */
    border: none;
    border-radius: 0.5rem; /* rounded-lg */
    padding: 0.5rem 0.5rem; /* px-2 py-2 */
    font-size: 16px;
    cursor: pointer;
    align-self: flex-end; /* 오른쪽 끝에 배치 */
    transition: background-color 0.3s; /* transition duration-300 */
}

.reply-form button:hover {
    background-color: #2563eb; /* hover:bg-blue-600 */
}

.content-wrapper {
    flex: 1;
}

.header {
    display: flex;
    align-items: center;
}

.name {
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 8px;
}

.star-rating {
    margin-left: 8px;
}

.star {
    color: gold; /* 채워진 별 색 */
}

.empty {
    color: lightgray; /* 비어 있는 별 색 */
}

.comment-box {
    background-color: #E2E8F0; /* bg-gray-200 */
    padding: 16px;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
}

.img-container {
    margin-top: 8px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    margin-bottom: 4px;
}

.actions a, .actions button {
    margin-left: 8px;
}

.date {
    color: rgb(128, 128, 128);
    font-size: 0.875rem; /* text-sm */
    text-align: right; /* 우측 정렬 */
}