<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-full flex flex-col justify-center items-center">

<div class="w-full max-w-screen-lg mx-auto my-5">
    <nav class="flex justify-center items-center">
        <a href="/">
            <img src="/images/logo.png" style="width:130px">
        </a>
    </nav>
</div>

<!-- 아이디 찾기 결과 -->
<div class="bg-white p-8 rounded-lg shadow-md w-full max-w-sm">
    <h2 class="text-center text-3xl font-bold text-gray-900 mb-8">아이디 찾기 결과</h2>
    <p class="text-center text-gray-900 mb-8" th:text="${loginId}">아이디를 찾을 수 없습니다.</p>
    <a href="/login"
       class="w-full bg-blue-600 text-white px-4 py-2 rounded-md text-sm font-medium text-center hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        로그인 페이지로 이동
    </a>
</div>
<div class="mt-4">
    <a href="/" class="w-full bg-gray-600 text-white px-4 py-2 rounded-md text-sm font-medium text-center hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
        홈으로 돌아가기
    </a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/footer.js"></script>
</html>
