<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body class="h-screen flex flex-col">
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div><br>

<div class="h-full flex justify-center">
    <!--이 div 태그 안에 본문 작성하시면 됩니다!-->
    <!-- 게시판 목록을 표시 -->
    <div class="container mx-auto max-w-2xl px-4">
        <h1 class="text-2xl font-bold mb-4 text-center">서울 여행지 목록</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div th:each="board, iterStat : ${board}"
                 th:if="${iterStat.index < 3}"
                 class="bg-white shadow-md rounded-lg overflow-hidden">
                <img th:src="@{${board.imagePath}}" alt="이미지" class="w-full h-40 object-cover">
                <div class="p-4">
                    <h2 class="text-l font-semibold" th:text="${board.regionMajor} + ' - ' + ${board.regionMiddle}"></h2>
                    <p class="text-gray-600 mt-2" th:text="${board.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="/js/footer.js"></script>
</html>
